<div class="box collapsed-box box-solid">
  <div class="box-header">
      <h3 class="box-title">{{Agent.FirstName}} {{Agent.LastName}}</h3>
      <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
          </button>
      </div>
  </div>
  <div class="box-body">
      <dl class="dl-horizontal">
          <dt>First Name:</dt>
          <dd>{{Agent.FirstName}}</dd>
          <dt>Last Name:</dt>
          <dd>{{Agent.LastName}}</dd>
      </dl>
  </div>
</div>
